name: Build and release

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Npm Install
        run: npm install

      - name: Build Dist
        env:
          GA_ID: ${{ secrets.GA_ID }}
          NODE_ENV: production
          NODE_OPTIONS: --max_old_space_size=4096
        run: npm run dist

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: OpenBlockDesktop-win64.exe
          path: dist/OpenBlock*Setup.exe
          retention-days: 1

  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Npm Install
        run: npm install

      - name: Build Dist
        env:
          GA_ID: ${{ secrets.GA_ID }}
          NODE_ENV: production
          NODE_OPTIONS: --max_old_space_size=8192
          CSC_IDENTITY_AUTO_DISCOVERY: false
        run: npm run dist

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: OpenBlockDesktop-mac.dmg
          path: dist/OpenBlock*.dmg
          retention-days: 1

  create-release:
    needs: [build-windows, build-mac]
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master

      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.tag }}
          release_name: OpenBlock Desktop ${{ steps.tag.outputs.tag }}
          body: |
            - **New feature**
              1. First Change
              2. Second Change

            - **Fix bug**
              1. First Change
              2. Second Change
          draft: true
          prerelease: false

      - name: Download all build result
        uses: actions/download-artifact@v2

      # Windows x64 Release
      - name: Zip win64 file
        uses: papeloto/action-zip@v1
        with:
            files: OpenBlockDesktop-win64.exe
            dest: OpenBlockDesktop-win64.zip

      - name: Relase Windows x64 package
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./OpenBlockDesktop-win64.zip
          asset_name: OpenBlockDesktop-${{ steps.package-version.outputs.current-version }}-win64.zip
          asset_content_type: application/zip

      # Mac Release
      - name: Zip mac file
        uses: papeloto/action-zip@v1
        with:
            files: OpenBlockDesktop-mac.dmg
            dest: OpenBlockDesktop-mac.zip

      - name: Relase Mac package
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./OpenBlockDesktop-mac.zip
          asset_name: OpenBlockDesktop-${{ steps.package-version.outputs.current-version }}-mac.zip
          asset_content_type: application/zip

      # Checksum Release
      - name: Checksum
        run: sha256sum OpenBlockDesktop-*.zip >> checksums.txt

      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: checksums.txt
          asset_name: ${{ steps.package-version.outputs.current-version }}-checksums-sha256.txt
          asset_content_type: application/zip
